!Bin64vc140/*.*
!Bin64vc140/**/*.*

# Make an exception to ignore specific directories
# Most of these directories are brought in by executing git_bootstrap.
3rdParty
AssetProcessorTemp
BinTemp
Bin64
Bin64vc120
Bin64vc120.Debug
#Bin64vc140
Bin64vc140/logs
Bin64vc140.Debug
Cache
FeatureTests
SamplesProject
Code/SDKs
Code/Sandbox/SDKs
Solutions
Code/Tools/SDKs
MultiplayerSample
MultiplayerProject
Gems/GameEffectSystem
Gems/Oculus
Gems/OpenVR
Gems/PBSreferenceMaterials
Gems/Substance
Tools/CrySCompileServer/x64
Tools/LmbrSetup/Win.vc140.Debug
Tools/LmbrSetup/Win.vc120.Debug

# Misc ignore files
SetupAssistantUserPreferences.ini
_WAF_/environment.json
SetupAssistant.bat